{% extends 'inherit/base.html' %}
{% load static %}
{% block 'title' %}SNOOP SYSTEM{% endblock 'title' %}
{% block 'content' %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <h1>
              با کمک سیستم صوتی حرفه‌ای، تجربه خود را به یک سطح جدید
              ارتقا دهید!
            </h1>
            <h4>
              آیا به دنبال ارتقای تجربه موسیقی خود در زمان سفرهای روزانه یا ماجراجویی هستید؟ 
              آیا به دنبال بهبود کیفیت صدا در خودرویتان و تجربه‌ای بی‌نظیر در هنگام گوش دادن به موسیقی هستید؟
              ما اینجا هستیم تا به شما در این زمینه کمک کنیم.
            </h4>
            <div class="d-flex justify-content-center justify-content-lg-start">
              
              <a href="#about" class="btn-get-started scrollto">درباره ما</a>

            </div>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <img
              src="{% static 'assets/img/hero-img.png' %}"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Clients Section ======= -->
      <section id="clients" class="clients section-bg">
        <div class="container">
          <div class="row" data-aos="zoom-in">
            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="{% static 'assets/img/clients/client-1.png' %}"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="{% static 'assets/img/clients/client-2.png' %}"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="{% static 'assets/img/clients/client-3.png' %}"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="{% static 'assets/img/clients/client-4.png' %}"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="{% static 'assets/img/clients/client-5.png' %}"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="{% static 'assets/img/clients/client-6.png' %}"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <!-- End Cliens Section -->

      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>درباره ما</h2>
          </div>

          <div class="row content">
            <div class="col-lg-6">
              <p>
                ما یک تیم از کارشناسان صوتی خودرو هستیم که با افتخار خدمات نصب و فروش سیستم‌های صوتی را ارائه می‌دهیم.
                 با سال‌ها تجربه در این زمینه، ما با محصولات برتر و برندهای معتبر همکاری می‌کنیم تا بتوانیم بهترین سیستم های صوتی را برای خودروی شما فراهم کنیم.
              </p>
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> تنوع گسترده‌ای از سیستم‌های صوتی برتر با کیفیت عالی
                </li>
                <li>
                  <i class="ri-check-double-line"></i> مشاوره حرفه‌ای در خرید و انتخاب محصول مناسب
                </li>
                <li>
                  <i class="ri-check-double-line"></i> قیمت مناسب و رقابتی
                </li>
              </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                در وبسایت ما شما می‌توانید انواع سیستم‌های صوتی برای خودرو را مشاهده کنید.
                 از سیستم‌های کامل با قابلیت‌های پیشرفته و قدرت بالا تا سیستم‌های کوچکتر برای نصب در خودروهای جمع و جورتر، ما محصولاتی را برای هر نیاز و سلیقه‌ای ارائه می‌دهیم. 
                 همچنین، ما اطمینان می‌دهیم که محصولاتی که در دسترس قرار می‌دهیم، از برندهای معتبر و با کیفیت برتری تولید شده‌اند.
              </p>
              <a href="#contact" class="btn-learn-more">برای کسب اطلاعات بیشتر با ما در ارتباط باشید</a>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->

      <!-- ======= Why Us Section ======= -->
      <section id="why-us" class="why-us section-bg">
        <div class="container-fluid" data-aos="fade-up">
          <div class="row">
            <div
              class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1"
            >
              <div class="content">
                <h3>
                  چرا ما را باید انتخاب کنید؟
                  <strong> </strong>
                </h3>
                <p>
                 ما اینجا چند دلیل برای استفاده از سایت و فروشگاه ما برای نصب و فروش سیستم صوتی خودرویتان بیان می کنیم .
                </p>
              </div>

              <div class="accordion-list">
                <ul>
                  <li>
                    <a
                      data-bs-toggle="collapse"
                      class="collapse"
                      data-bs-target="#accordion-list-1"
                      ><span>01</span> تخصص و تجربه<i class="bx bx-chevron-down icon-show"></i
                      ><i class="bx bx-chevron-up icon-close"></i
                    ></a>
                    <div
                      id="accordion-list-1"
                      class="collapse show"
                      data-bs-parent=".accordion-list"
                    >
                      <p>
                        تیم ما از متخصصان با سابقه و تجربه در زمینه نصب و فروش سیستم صوتی خودرو تشکیل شده است.
                         ما با اطلاعات و تکنیک‌های لازم برای انتخاب و نصب بهترین سیستم صوتی برای خودروی شما آماده همکاری هستیم.
                      </p>
                    </div>
                  </li>

                  <li>
                    <a
                      data-bs-toggle="collapse"
                      data-bs-target="#accordion-list-2"
                      class="collapsed"
                      ><span>02</span>  کیفیت محصولات و تنوع و انعطاف‌پذیری<i class="bx bx-chevron-down icon-show"></i
                      ><i class="bx bx-chevron-up icon-close"></i
                    ></a>
                    <div
                      id="accordion-list-2"
                      class="collapse"
                      data-bs-parent=".accordion-list"
                    >
                      <p>
                        ما بهترین برندها و محصولات با کیفیت را برای فروش ارائه می‌دهیم. 
                        ما به انتخاب‌های متنوع و گسترده‌ای از سیستم‌های صوتی خودرو برای تناسب با سلیقه و نیازهای شما اهمیت می‌دهیم.
                         بنابراین، شما می‌توانید محصولی را که با سلیقه شما همخوانی دارد را انتخاب کنید و برای خود تجربه‌ای منحصربه‌فرد از صدای فوق‌العاده در خودرویتان داشته باشید.
                        </p>
                    </div>
                  </li>

                  <li>
                    <a
                      data-bs-toggle="collapse"
                      data-bs-target="#accordion-list-3"
                      class="collapsed"
                      ><span>03</span> خدمات نصب حرفه‌ای <i class="bx bx-chevron-down icon-show"></i
                      ><i class="bx bx-chevron-up icon-close"></i
                    ></a>
                    <div
                      id="accordion-list-3"
                      class="collapse"
                      data-bs-parent=".accordion-list"
                    >
                      <p>
                        ما خدمات نصب حرفه‌ای و قابل اعتماد را برای شما فراهم می‌کنیم.
                         تیم متخصص ما با دقت
                          و دانش کافی در نصب سیستم صوتی در خودروها کار می‌کند تا بهترین کیفیت صدا و عملکرد را برای شما فراهم کند.
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <div
              class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
              style="background-image: url('{% static 'assets/img/why-us.png' %}')"
              data-aos="zoom-in"
              data-aos-delay="150"
            >
              &nbsp;
            </div>
          </div>
        </div>
      </section>
      <!-- End Why Us Section -->

      <!-- ======= Skills Section ======= -->
      <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div
              class="col-lg-6 d-flex align-items-center"
              data-aos="fade-right"
              data-aos-delay="100"
            >
              <img src="{% static 'assets/img/skills.png' %}" class="img-fluid" alt="" />
            </div>
            <div
              class="col-lg-6 pt-4 pt-lg-0 content"
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <h3>
                بهترین برند سیستم صوتی خودرو
              </h3>
              <p class="fst-italic">
                در اینجا قصد داریم انواع برند های معروف سیستم صوتی خوردو را به شما معرفی کنیم.
              </p>

              <div class="skills-content">
                <div class="progress">
                  <span class="skill">((ground zero)) <i class="val">90%</i></span>
                  <div class="progress-bar-wrap">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      aria-valuenow="100"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>

                <div class="progress">
                  <span class="skill">((HAMMER TECH)) <i class="val"> 75%</i></span>
                  <div class="progress-bar-wrap">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>

                <div class="progress">
                  <span class="skill">((POWER SOUND))   <i class="val"> 65%</i></span>
                  <div class="progress-bar-wrap">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      aria-valuenow="75"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>

                <div class="progress">
                  <span class="skill">((PIONEER  )) <i class="val"> 55%</i></span>
                  <div class="progress-bar-wrap">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      aria-valuenow="55"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Skills Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>خدمات</h2>
            <p>
              ما خدمات جامعی در زمینه نصب و فروش سیستم صوتی خودرو ارائه می‌دهیم.
               مهمترین خدماتی که ارائه می‌کنیم عبارتند از:
          </div>

          <div class="row">
            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4>نصب سیستم صوتی</h4>
                <p>
                  تیم ما از تکنسین‌های حرفه‌ای و با تجربه تشکیل شده است که مسئول نصب سیستم صوتی خودرو شما هستند.
                   آن‌ها با دقت نصب صحیح سیستم صوتی شما را به عهده می‌گیرند.
                </p>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4>انتخاب سیستم صوتی</h4>
                <p>
                  با توجه به نیازها و سلیقه شما، تیم فروش ما آماده است که شما را در انتخاب سیستم صوتی مناسب همراهی کند. 
                  آن‌ها با شما مشورت خواهند کرد و به شما راهنمایی‌های لازم را در خرید سیستم صوتی ارائه خواهند داد.
                </p>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4>راه‌اندازی و تنظیمات</h4>
                <p>
                  بعد از نصب سیستم صوتی، تیم فنی ما راه‌اندازی و تنظیمات لازم را برای حصول
                   به کیفیت صدای بهینه و تطبیق آن با ویژگی‌های خودرو انجام خواهد داد.
                </p>
              </div>
            </div>

            <div
              class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-layer"></i></div>
                <h4>مشاوره فنی</h4>
                <p>
                  اگر هرگونه سوال یا مشکل فنی در استفاده از سیستم صوتی خودرو داشتید، 
                  تیم پشتیبانی ما آماده است تا شما را راهنمایی کند و به مشکلات فنی شما پاسخ دهد.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= Cta Section ======= -->
      <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
              <h3> اسنوب سیستم; قیمت خرید سیستم صوتی خودرو</h3>
              <p>
                در مجموعه اسنوپ سیستم ، خواهان ارائه بهترین قیمت سیستم صوتی و تصویری خودرو هستیم و توانسته‌ایم بهترین قیمت سیستم صوتی ماشین را برای شما به ارمغان بیاوریم 🙂
              </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#portfolio">محصولات</a>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cta Section -->

      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>محصولات</h2>
          </div>
          
         
  
            <h6><a href="{% url 'home:home'  %}">همه</a></h6>
            {% for cat in category.all %}
            <h6><a href="{% url 'product:product_with_category' cat=cat.name %}" >{{cat.name}}</a></h6>
            {% endfor %}
           
         
          
        
          
        
          <div
            class="row portfolio-container"
            data-aos="fade-up"
            data-aos-delay="200"
          >
          {% for pro in products %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-img">
                <img
                  src="{{pro.image1.url}}"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="portfolio-info">
                
                <h4>{{pro.title}}</h4>
                <p>{{pro.content|truncatewords:3}}....</p>
                <a
                  href="{{pro.image1.url}}"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox preview-link"
                  title="{{pro.title}}"
                  ><i class="bx bx-plus"></i
                ></a>
                <a
                  href="{% url 'product:products_details' pid=pro.id %}"
                  class="details-link"
                  title="More Details"
                  ><i class="bx bx-link" style="float: left;"></i>
                </a>
              </div>
              
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- End Portfolio Section -->

      <!-- ======= Team Section ======= -->
      <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>اعضا</h2>
            <p>
               تیم ما از افرادی یا تجربه و فنی و همچنین با پشتکار بالا و تمرکز بر رضایت مشتری تشکیل شده است.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img
                    src="{% static 'assets/img/team/team-1.jpg' %}"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>علی احمدی</h4>
                  <span>      مدیر فروشگاه</span>
                  <p>
                                        تجربه ایی متفاوت در سیستم صوتی خودرو    
                  </p>
                  <div class="social">
                    <a href="https://instagram.com/alitake38?igshid=MzPIODBiNWFIZA=="><i class="ri-instagram-fill"></i></a>
                  </div>
                </div>
              </div>
            </div>

             
          </div>
        </div>
      </section>
      <!-- End Team Section -->

      <!-- ======= Frequently Asked Questions Section ======= -->
      <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h3>
              سوالات پرتکرار درباره 
              <strong>خرید سیستم صوتی خودرو</strong>
            </h3>
          </div>

          <div class="faq-list">
            {% for que in questions %}
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  class="collapse"
                  data-bs-target="#faq-list-1"
                  
                  >{{que.question}}
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-1"
                  class="collapse show"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    {{que.answer}}
                  </p>
                </div>
              </li>
              {% endfor %}


              
            </ul>
          </div>
        </div>
      </section>
      <!-- End Frequently Asked Questions Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>ارتباط با ما </h2>
            <p>
              برای اطلاعات بیشتر با ما در تماس باشید.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>آدرس : </h4>
                  <p>استان مرکزی ، اراک ، خیابان داوران ،بعد از کوچه آل محمد</p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>ایمیل:</h4>
                  <p>info@snoopsystem.ir</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>شماره تماس :</h4>
                  <p>09930961277</p>
                </div>

              </div>
            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <form
                action="{% url 'home:contact' %}"
                method="post"
                role="form"
                class="php-email-form"
              >
              {% csrf_token %}
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">نام : </label>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">ایمیل :</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">موضوع : </label>
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="name">پیام :</label>
                  <textarea
                    class="form-control"
                    name="message"
                    rows="10"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">در حال ارسال</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    پیام شما با موفقیت ثبت شد . ممنون از شما.
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">ارسال</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

   
{% endblock 'content' %}