{% load static %}
<!DOCTYPE html>
<html lang="fa" >
<head>
  <meta charset="UTF-8">
  <title>ورود</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'><link rel="stylesheet" href="{% static 'assets/css/style1.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form method="post" class="login">
                {% csrf_token %}
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" class="login__input" placeholder="نام کاربری / ایمیل">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name="password" autocomplete="current-password" required="" id="id_password" class="login__input" placeholder="رمز عبور">
				</div>
				
				<div class="login__field">
					{{captcha.captcha}}
				</div>
				
			
			
			<button type="submit" class="button login__submit">
				<span class="button__text">ورود</span>
				<i class="button__icon fas fa-chevron-right"></i>
			</button>				
		


				</form>
			<a  href="{% url 'accounts:signup' %}"> اگر ثبت نام نکردید همین الان ثبت نام کنید.. </a>
			<br></br>
        	<a href="{% url 'password_reset' %}"> رمز عبور خود را فراموش کرده اید؟  </a>
		</div>
		
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>	
		
		
        {% if messages %}
            {% for message in    messages  %}
                {{ message }}
            {% endfor %}
        {% endif %}
	</div>
</div>
<!-- partial -->
  
</body>
</html>


