{% load static %}
<!DOCTYPE html>
<html lang="fa" >
<head>
  <meta charset="UTF-8">
  <title>ورود</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'><link rel="stylesheet" href="{% static 'assets/css/style1.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
	<div class="screen">
		<div class="screen__content">
		<br></br><br></br><br></br><br></br><br></br><br></br>
                <p><a href="{% url 'home:home' %}">  . لینک به ایمیل وارد شده ارسال شد </a></p>
		
		</div>
		
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>	
		
		
        {% if messages %}
            {% for message in    messages  %}
                {{ message }}
            {% endfor %}
        {% endif %}
	</div>
</div>
<!-- partial -->
  
</body>
</html>


